<div class="transactionAdd">
  <h4>Add</h4>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Debit Account</th>
        <th>Credit Account</th>
        <th>Tax</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{newTransaction.id}}</td>
        <td>{{newTransaction.date}}</td>
        <td class='right'>{{displayAsDollar(newTransaction.amount)}}</td>
        <td>{{newTransaction.category}}</td>
        <td>{{newTransaction.drAcct}}</td>
        <td>{{newTransaction.crAcct}}</td>
        <td>&nbsp;<span *ngIf="newTransaction.tax" class='glyphicon glyphicon-copy' style='color:green;'></span></td>
      </tr>
    </tbody>
  </table>
  <button (click)="onSubmit()">Add</button>


  <!--<form>
      <label>Type</label>
      <label>Name</label>
      <label>Institution</label>
      <label>Number</label>
      <label>Interest Rate</label>
      <label>Limit</label>
      <input type='submit' value='Add' />
  </form>-->
</div>
