body {
}

label {
  width: 80px;
}

select, input {
    width: 180px;
    margin-right: 10px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.greyed {
    color: lightgray;
}

.payeeSelector {
    background: snow;
}

.accontSelector {
    background: floralwhite;
}

