body {
}

label {
  width: 80px;
}

select {
    width: 160px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.greyed {
    color: lightgray;
}

.fromSelector {
    background: snow;
}

.toSelector {
    background: floralwhite;
}

