<div class="transactionEdit">
  <h4>Edit</h4>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <label>Date</label>
      <input type='date' name="date" formControlName="date" /> <br />
      <label>To</label>
      <select name="acctTo" formControlName="acctTo">
          <option *ngFor="let account of acctPayee" value="{{account.id}}">{{account.name}}</option>
          <option disabled>──────────</option>
          <option *ngFor="let account of acctLiability" value="{{account.id}}">{{account.name}}</option>
          <option disabled>──────────</option>
          <option *ngFor="let account of acctAsset" value="{{account.id}}">{{account.name}}</option>
      </select> <br />
      <label>From</label>
      <select name="acctFrom" formControlName="acctFrom">
          <option *ngFor="let account of accounts" value="{{account.id}}">{{account.name}}</option>
      </select> <br />
      <label>Amount<span class="pull-right">$</span></label>
      <input type='number' name="amount" formControlName="amount" /> <br />
      <label>Category</label>
      <mat-form-field>
          <input type="text" matInput formControlName="category" [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let categoryName of filteredCategoryNames | async" value="{{categoryName}}">
                  {{ categoryName }}
              </mat-option>
          </mat-autocomplete>
      </mat-form-field><br />
      <label>Tax</label>
      <input type='checkbox' name="tax" value="true" formControlName="tax" />
      <input type='submit' value="Update" />
      <button routerLink="/transactions">Cancel</button>
  </form>
</div>
