<div class="modal accountEdit">
    <form>
        <label>Type</label>
        <input type='radio' value='true' checked={{debit}} (Change)="handleDebitButton()" /> Asset
        <input type='radio' value='false' checked={{!debit}} (Change)="handleDebitButton()" /> Liability
        <label>Name</label>
        <input type='text' />
        <label>Institution</label>
        <input type='text' />
        <label>Number</label>
        <input type='text' />
        <label>Interest Rate</label>
        <input type='number' />%
        <label>Limit</label>
        $<input type='number' />
        <input type='submit' value="Update" />
    </form>
</div>