<div class="users">
    <p *ngIf="!users"><em>Loading...</em></p>

    <table>
        <caption>Users</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Admin</th>
                <th colspan="2">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.userName}}</td>
                <td><input #cb1 type="checkbox" value="true" [checked]="user.admin" (change)="onToggleAdmin(user.id)"></td>
                <td><a (click)="onReset(user.id);">Reset Password</a></td>
                <td><a (click)="onDelete(user.id);">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
