<tr class="transactionItem">
    <td>{{transaction.id}}</td>
    <td>{{transaction.date}}</td>
    <td className='right'>displayAsDollar({{transaction.amount}})</td>
    <td>{{transaction.category}}</td>
    <td>{{transaction.drAcct}}</td>
    <td>{{transaction.crAcct}}</td>
    <td>&nbsp;{{transaction.tax}} && <span className='glyphicon glyphicon-copy' style='color: green;'></span></td>
    <td><a [routerLink]="['/transactionEdit']">Edit</a></td>
    <td><a (click)="confirm('are you sure you want to delete this transaction?'); deleteTransaction();">Delete</a></td>
</tr>