<div class="accounts">
  <p *ngIf="!accounts"><em>Loading...</em></p>

  <table>
    <caption>Accounts</caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Institution</th>
        <th>Number</th>
        <th>Interest</th>
        <th>Limit</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{account.id}}</td>
        <td>{{account.debit ? 'Asset' : 'Liability'}}</td>
        <td>{{account.name}}</td>
        <td>{{account.institution}}</td>
        <td>{{account.number}}</td>
        <td className='right'>{{displayAsPercent(account.interest)}}</td>
        <td className='right'>{{account.limit ? displayAsDollar(account.limit) : '--'}}</td>
        <td className='right'>{{displayAsDollar(account.balance)}}</td>
        <td><a [routerLink]="['/accountEdit']">Edit</a></td>
        <td><a (click)="onDelete(account.id);">Delete</a></td>
      </tr>
      <!--<account-item *ngFor="let account of accounts" [account]="account"></account-item>-->
    </tbody>
  </table>
  <button (click)="addAccount()">Add Account</button>
  <account-add (add)="onAdd($event)"></account-add>
  <account-edit *ngIf="accounts" [editAccount] ="accounts[0]" (update)="onUpdate($event)"></account-edit>
</div>
