<div class="accountEdit">
  <h4>Edit</h4>
  <!--<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Institution</th>
        <th>Number</th>
        <th>Interest</th>
        <th>Limit</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{editAccount.id}}</td>
        <td>{{editAccount.acctType}}</td>
        <td>{{editAccount.name}}</td>
        <td>{{editAccount.institution}}</td>
        <td>{{editAccount.number}}</td>
        <td class='right'>{{displayAsPercent(editAccount.interest)}}</td>
        <td class='right'>{{editAccount.limit ? displayAsDollar(editAccount.limit) : '--'}}</td>
        <td class='right'>{{displayAsDollar(editAccount.balance)}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="onSubmit()">Update</button>-->

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <label>Type</label>
    <input type='radio' name="acctType" value="Asset" formControlName="acctType" /> Asset
    <input type='radio' name="acctType" value="Liability" formControlName="acctType" /> Liability <br />
    <label>Name</label>
    <input type='text' name="name" formControlName="name" /> <br />
    <label>Institution</label>
    <input type='text' name="institution" formControlName="institution" /> <br />
    <label>Number</label>
    <input type='text' name="number" formControlName="number" /> <br />
    <label>Interest Rate</label>
    <input type='number' name="interest" formControlName="interest" />% <br />
    <label>Limit<span class="pull-right">$</span></label>
    <input type='number' name="limit" formControlName="limit" /> <br />
    <input type='submit' value="Update" />
  </form>
</div>
