
/*#region Document Areas*/
body {
    font-family: Helvetica;
    padding-top: 5px;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    padding: 5px;
    background: #cde6cd;
    border-top: 1px solid green;
    color: green;
    text-shadow: 0 0 4px yellow;
    font-size: 14px;
    font-family: Garamond;
}

    footer > a {
        text-decoration: none;
    }

/*#endregion*/

/*#region Common Properties*/
.lemonlime {
    font-family: Garamond;
    color: green;
    text-shadow: 0 0 4px yellow;
}

.lime {
    font-family: Garamond;
    color: green;
}

.captionlike {
    margin: 5px 0 5px 0;
    text-align: center;
    font-size: 36px;
    background: #cde6cd;
    font-family: Garamond;
    font-style: italic;
    color: green;
    text-shadow: 0 0 4px yellow;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.red{
    color:red !important;
}

.darkred {
    color: darkred !important;
}

.green {
    color: green;
}

.w30 {
    width: 30px;
}

.w40 {
    width: 40px;
}

.w50 {
    width: 50px;
}

.w60 {
    width: 60px;
}

.w70 {
    width: 70px;
}

.w80 {
    width: 80px;
}

.w90 {
    width: 90px;
}

.w100 {
    width: 100px;
}

.w120 {
    width: 120px;
}

.w140 {
    width: 140px;
}

.w160 {
    width: 160px;
}

.w180 {
    width: 180px;
}

.w200 {
    width: 200px;
}

.striped:nth-child(2n) > td {
    background-color: whitesmoke;
}

.blockstriped :nth-child(6n+4) {
    background: whitesmoke;
}

.blockstriped :nth-child(6n+5) {
    background: whitesmoke;
}

.blockstriped :nth-child(6n+6) {
    background: whitesmoke;
}

.unstyledList {
    list-style: none;
}
.centeredCol{
    display: flex;
    flex-flow:column nowrap;
    align-items:center;
}

/*#endregion*/

/*#region Buttons*/
.btn-success {
    background: #32b432;
    border: none;
}

    .btn-success:hover {
        background: #32b432;
        border: none;
    }

.btn-info {
    background: #32b432;
    border: none;
}

    .btn-info:hover {
        background: #32b432;
    }

.btn-warning {
    background: #dcd20a;
    border: none;
}

    .btn-warning:hover {
        background: #b4b432;
    }

.btn-danger {
    background: #b46464;
    border: none;
}

    .btn-danger:hover {
        background: #fa5050;
    }

.btn-ghost {
    background-color: transparent;
    border: 1px solid lightgray;
}

.btn-clear {
    background-color: transparent;
    border: none;
}

.btn-xxs {
    padding: 0;
    font-size: 11px;
}

/*#endregion*/

/*#region Tabbing*/
.tabbed-tabs {
    border-bottom: 1px solid gray;
    display: inline-block;
    width: 100%;
}

    .tabbed-tabs::after {
        clear: both;
    }

.tabbed-tab {
    float: left;
    width: 200px;
    height: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: -5px;
    padding-top: 5px;
    text-align: center;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: none;
    border-left: 1px solid gray;
    background: linear-gradient(#e7e2c4, #f6f1d4);
    font-family: Garamond;
    font-size: 16px;
    cursor: pointer;
}

.tabbed-activetab {
    background: linear-gradient(#eeeeee, #ffffff);
    position: relative;
    top: 1px;
}

/*#endregion*/

/*#region Common Elements*/
h1 {
    text-align: center;
    font-size: 72px;
}

h2 {
    text-align: center;
    font-size: 48px;
}

h3 {
    text-align: center;
    font-size: 36px;
}

h4 {
    font-size: 24px;
}
/*#endregion*/

/*#region Navigation*/
.navbar-inverse {
    background: #cde6cd;
    border-color: green;
    font-family: Garamond;
}

    .navbar-inverse > div.container-fluid {
        margin-left: 80px;
        margin-right: 80px;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: green;
        text-shadow: 0 0 2px yellow;
        font-size: 20px;
        margin-right: 20px;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            color: yellow;
            text-shadow: 0 0 4px darkgreen;
        }

    .navbar-inverse .navbar-brand {
        color: green;
        text-shadow: 0 0 4px yellow;
        font-size: 28px;
        font-style: italic;
        margin-right: 100px;
    }

.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On large screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: 16%;
    }

        .main-nav .navbar {
            border-radius: 0px;
            border-width: 0px;
            height: 100%;
        }

        .main-nav .navbar-header {
            float: none;
        }

        .main-nav .navbar-collapse {
            border-top: 1px solid #444;
            padding: 0px;
        }

        .main-nav .navbar ul {
            float: none;
        }

        .main-nav .navbar li {
            float: none;
            font-size: 15px;
            margin: 6px;
        }

            .main-nav .navbar li a {
                padding: 10px 16px;
                border-radius: 4px;
            }

        .main-nav .navbar a {
            /* If a menu item's text is too long, truncate it */
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
}
/*#endregion*/

/*#region Tables*/
.outerBorder {
    border: 4px solid goldenrod;
    padding: 5px;
    margin: 40px auto;
    background: beige;
}

.innerBorder {
    border: 2px solid goldenrod;
    padding: 15px;
    background: white;
}

caption {
    margin: 5px 0 5px 0;
    text-align: center;
    font-size: 36px;
    background: #cde6cd;
    font-family: Garamond;
    font-style: italic;
    color: green;
    text-shadow: 0 0 4px yellow;
}

th {
    padding: 5px 10px 5px 10px;
    text-align:center;
    background: khaki;
    color: darkgreen;
    font-size:16px;
    font-family: Garamond;
    border:1px solid darkgreen;
}

th > a:hover {
    text-decoration: none;
    color: green;
    text-shadow: 0 0 2px mintcream;
}

th.active {
    display: block;
    width: 100%;
    padding: 5px 20px 5px 20px;
    background: darkkhaki;
    color: darkgreen;
    font-family: Garamond;
}

th.active > a:hover {
    text-decoration: none;
    color: green;
    text-shadow: 0 0 2px mintcream;
}

td {
    vertical-align: top;
    padding: 5px 10px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}

/*#endregion*/

/*#region Home*/
.mainTitle {
    margin-top: 15%;
}

.mainTitle-sub {
    position: relative;
    font-size: 40px;
    font-family: Garamond;
    font-style: italic;
    color: darkgreen;
    -webkit-text-stroke: 1px yellowgreen;
    text-shadow: 0 0 8px gold;
    z-index: 5;
}

.mainTitle-main {
    position: relative;
    top: -74px;
    left: 12px;
    font-family: Garamond;
    font-size: 100px;
    color: green;
    -webkit-text-stroke: 1px goldenrod;
    text-shadow: 0 0 40px yellow;
    z-index: 1;
}
.mainTitle-sub-fly {
    position: relative;
    font-size: 40px;
    font-family: Garamond;
    font-style: italic;
    color: darkgreen;
    -webkit-text-stroke: 1px yellowgreen;
    text-shadow: 0 0 8px gold;
    z-index: 5;
    animation: fromUpperLeft 0.5s ease-out;
}

.mainTitle-main-fly {
    position: relative;
    top: -74px;
    left: 12px;
    font-family: Garamond;
    font-size: 100px;
    color: green;
    -webkit-text-stroke: 1px goldenrod;
    text-shadow: 0 0 40px yellow;
    z-index: 1;
    animation: fromLowerRight 0.5s ease-out;
}

@keyframes fromLowerRight {
    0% {
        transform: translate(100%, 400%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes fromUpperLeft {
    0% {
        transform: translate(-100%, -400%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

.prettyH2 {
    font-size: 24px;
    background: #cde6cd;
    font-family: Garamond;
    font-style: italic;
    color: green;
    text-shadow: 0 0 4px yellow;
}

.features{
    display:inline-block;
}
/*#endregion*/
