<div class="payees">
    <p *ngIf="!payees"><em>Loading...</em></p>

    <table>
        <caption>Payees</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let payee of payees">
                <td>{{payee.id}}</td>
                <td>{{payee.name}}</td>
                <td><a class="btn btn-xs deletelink glyphicon glyphicon-remove darkred" (click)="onDelete(payee.id);"></a></td>
            </tr>
        </tbody>
    </table>
</div>
