<div class="categoryAdd">
  <h4>Add</h4>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Tax?</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{newCategory.id}}</td>
        <td>{{newCategory.name}}</td>
        <td>&nbsp;<span *ngIf="newCategory.tax" class='glyphicon glyphicon-copy' style='color:green;'></span></td>
        <td>{{newCategory.type}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="onSubmit()">Add</button>


  <!--<form>
      <label>Type</label>
      <label>Name</label>
      <label>Institution</label>
      <label>Number</label>
      <label>Interest Rate</label>
      <label>Limit</label>
      <input type='submit' value='Add' />
  </form>-->
</div>
