<div class="categoryAdd">
  <h4>Add</h4>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Institution</th>
        <th>Number</th>
        <th>Interest</th>
        <th>Limit</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{newAccount.id}}</td>
        <td>{{newAccount.debit ? 'Asset' : 'Liability'}}</td>
        <td>{{newAccount.name}}</td>
        <td>{{newAccount.institution}}</td>
        <td>{{newAccount.number}}</td>
        <td className='right'>{{displayAsPercent(newAccount.interest)}}</td>
        <td className='right'>{{account.limit ? displayAsDollar(newAccount.limit) : '--'}}</td>
        <td className='right'>{{displayAsDollar(newAccount.balance)}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="onSubmit()">Add</button>


  <!--<form>
      <label>Type</label>
      <label>Name</label>
      <label>Institution</label>
      <label>Number</label>
      <label>Interest Rate</label>
      <label>Limit</label>
      <input type='submit' value='Add' />
  </form>-->
</div>
