body {
}

label {
  width: 80px;
}

select, input, .mat-form-field {
    width: 250px;
    margin-right:20px;
}

input[type='checkbox'], input[type='submit'] {
    width: auto;
}

.red {
    color: red;
}

.green {
    color: green;
}

.greyed {
    color: lightgray;
}

.payeeSelector {
    background: snow;
}

.accountSelector {
    background: floralwhite;
}

.comments {
    width: 610px;
    margin-bottom: 20px;
}
